@page "/privacy"

<PageTitle>Veda Verk | Privacy</PageTitle>

<div class="container overlap-container">

	<div class="row mt-5 justify-content-center">

		<div class="col-md-4">

			<div class="privacy-card">
				<h4 class="card-text">Data we save</h4>
				<ul class="sub-title-text">
					<li>Telephone number</li>
					<li>E-mail address</li>
					<li>Name</li>
				</ul>

				<h4 class="card-text">Why we save it</h4>
				<ul class="sub-title-text">
					<li>To track bookings and pickups</li>
					<li>To be able to contact customers in case of, for example, stock-issues</li>
				</ul>

				<h4 class="card-text">How long we keep it</h4>
				<ul class="sub-title-text">
					<li>All data is deleted at the latest 24 hours after pickup</li>
				</ul>
			</div>

		</div>

	</div>

</div>

@code {

}
