@page "/"
@using Microsoft.AspNetCore.Components.Web
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@inject IProductService ProductService
@inject ILogger<Home> Logger

<PageTitle>Veda Verk | Trädgård</PageTitle>
<!-- Product cards -->
<div class="container overlap-container">
	<div class="row g-4 mt-5">

		<div class="col-md-4">
			<div class="category-card mt-5">
				<div class="card-header">
					<h2 class="card-text">Grönsakskassar</h2>
					<p class="card-text">Boka veckans kasse med grönt</p>
				</div>
				<div class="card-body">
					<img src="/images/veda-verk-kasse.png" class="img-fluid rounded" />
				</div>
				<div class="card-footer">
					<button type="button"
						class="homep-btn"
						@onclick="() => OpenCategory(ProductType.VegBag)">Boka Grönsakskasse
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="category-card mt-5">
				<div class="card-header">
					<h2 class="card-text">Pizza</h2>
					<p class="card-text">Beställ vedugnsbakad pizza</p>
				</div>
				<div class="card-body">
					<img src="/images/veda-verk-pizza.png" class="img-fluid rounded" />
				</div>
				<div class="card-footer">
					<button disabled
							type="button"
							class="homep-btn"
							@onclick="() => OpenCategory(ProductType.Pizza)"> Beställ Pizza
					</button>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="category-card mt-5">
				<div class="card-header">
					<h2 class="card-text">Kurser</h2>
					<p class="card-text">Lär dig laga det du odlat</p>
				</div>
				<div class="card-body">
					<img src="/images/veda-verk-kurs.png" class="img-fluid rounded" />
				</div>
				<div class="card-footer">
					<button disabled
							type="button"
							class="homep-btn"
							@onclick="() => OpenCategory(ProductType.Pizza)">Kurser
					</button>
				</div>
			</div>
		</div>
	</div>
</div>


<ProductListModal
	Products="filteredProducts"
	CategoryName="@selectedCategoryName"
	IsVisible="isListModalOpen"
	OnClose="CloseListModal"
	OnProductSelected="OpenBooking"/>

<BookingModal
	Product="selectedProduct"
	OnClose="CloseBookingModal"/>

@code {
	private List<ResponseProductDTO> allProducts = new();
	private List<ResponseProductDTO> filteredProducts = new();
	private ResponseProductDTO? selectedProduct = null;

	private bool isListModalOpen = false;
	private string selectedCategoryName = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		allProducts = await ProductService.GetAll();
	}

	private void OpenCategory(ProductType type)
	{
		filteredProducts = allProducts.Where(p => p.Type == type).ToList();

		selectedCategoryName = type switch
		{
			ProductType.VegBag => "Boka upphämtning av Grönsakskasse",
			ProductType.Pizza => "Boka Upphämtning av Pizza",
			_ => "Välj en kurs att boka"
		};

		isListModalOpen = true;
	}

	private void CloseListModal() => isListModalOpen = false;

	private void OpenBooking(ResponseProductDTO product)
	{
		isListModalOpen = false;
		selectedProduct = product;
		StateHasChanged();
	}

	private void CloseBookingModal() => selectedProduct = null;
}