@page "/"
@using Microsoft.AspNetCore.Components.Web
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@inject IProductService ProductService
@inject ILogger<Home> Logger

<PageTitle>Veda Verk | Trädgård</PageTitle>
<!-- Header -->
<div class="d-flex align-items-start justify-content-center text-center">
	<div class="content-overlay mt-5 mb-4">
		<h1 class="display-2 fw-bold title-text">Veda Verk</h1>
		<p class="lead fw-normal sub-title-text">Småskalig trädgårdsodling och mathantverk</p>
	</div>
</div>

<!-- Product cards -->
<div class="container overlap-container">
	<div class="row g-4 mt-5">

		<div class="col-md-4">
			<div class="category-card" @onclick="() => OpenCategory(ProductType.VegBag)">
				<img src="/images/veda-verk-kasse.png" class="img-fluid rounded" />
				<div class="overlay">
					<h4 class="card-text">Grönsakskassar</h4>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="category-card" @onclick="() => OpenCategory(ProductType.Pizza)">
				<img src="/images/veda-verk-pizza.png" class="img-fluid rounded" />
				<div class="overlay">
					<h4 class="card-text">Pizza</h4>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="category-card" @onclick="() => OpenCategory(ProductType.Course)">
				<img src="/images/veda-verk-kurs.png" class="img-fluid rounded" />
				<div class="overlay">
					<h4 class="card-text">Kurser</h4>
				</div>
			</div>
		</div>
	</div>
</div>


<ProductListModal
	Products="filteredProducts"
	CategoryName="@selectedCategoryName"
	IsVisible="isListModalOpen"
	OnClose="CloseListModal"
	OnProductSelected="OpenBooking"/>

<BookingModal
	Product="selectedProduct"
	OnClose="CloseBookingModal"/>

@code {
	private List<ResponseProductDTO> allProducts = new();
	private List<ResponseProductDTO> filteredProducts = new();
	private ResponseProductDTO? selectedProduct = null;

	private bool isListModalOpen = false;
	private string selectedCategoryName = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		allProducts = await ProductService.GetAll();
	}

	private void OpenCategory(ProductType type)
	{
		filteredProducts = allProducts.Where(p => p.Type == type).ToList();

		selectedCategoryName = type switch
		{
			ProductType.VegBag => "Boka upphämtning av Grönsakskasse",
			ProductType.Pizza => "Boka Upphämtning av Pizza",
			_ => "Välj en kurs att boka"
		};

		isListModalOpen = true;
	}

	private void CloseListModal() => isListModalOpen = false;

	private void OpenBooking(ResponseProductDTO product)
	{
		isListModalOpen = false;
		selectedProduct = product;
		StateHasChanged();
	}

	private void CloseBookingModal() => selectedProduct = null;
}