@page "/"
@using Microsoft.AspNetCore.Components.Web
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@inject IProductService ProductService
@inject ILogger<Home> Logger

<PageTitle>Veda Verk | Trädgård</PageTitle>

<!-- Hero -->
<div class="hero-section d-flex align-items-start justify-content-center text-center">
	<div class="content-overlay mt-5">
		<h1 class="display-2 fw-bold text-white">Veda Verk</h1>
		<p class="lead fw-normal text-white text-shadow">Grönsakskassar • Kurser • Pizza</p>
		<p class="lead fw-normal text-white text-shadow">Här kan du boka upphämtning av en grönsakskasse eller pizza (vid utvalda tillfällen). Under sommarhalvåret går det även att boka matlagningskurser utomhus (3-6p).</p>
	</div>
</div>

<div class="container overlap-container">
	<div class="row g-4">

		<div class="col-md-4">
			<div class="category-card" @onclick="() => OpenCategory(ProductType.Course)">
				<img src="/images/course.jpg" class="img-fluid rounded" />
				<div class="overlay">
					<h3>Kurser</h3>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="category-card" @onclick="() => OpenCategory(ProductType.VegBag)">
				<img src="/images/vegbag.jpg" class="img-fluid rounded" />
				<div class="overlay">
					<h3>Grönsakskassar</h3>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="category-card" @onclick="() => OpenCategory(ProductType.Pizza)">
				<img src="/images/pizza.jpg" class="img-fluid rounded" />
				<div class="overlay">
					<h3>Pizza</h3>
				</div>
			</div>
		</div>
	</div>
</div>

<ProductListModal
	Products="filteredProducts"
	CategoryName="@selectedCategoryName"
	IsVisible="isListModalOpen"
	OnClose="CloseListModal"
	OnProductSelected="OpenBooking"/>

<BookingModal
	Product="selectedProduct"
	OnClose="CloseBookingModal"/>

@code {
	private List<ResponseProductDTO> allProducts = new();
	private List<ResponseProductDTO> filteredProducts = new();
	private ResponseProductDTO? selectedProduct = null;

	private bool isListModalOpen = false;
	private string selectedCategoryName = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		allProducts = await ProductService.GetAll();
	}

	private void OpenCategory(ProductType type)
	{
		filteredProducts = allProducts.Where(p => p.Type == type).ToList();

		selectedCategoryName = type switch
		{
			ProductType.VegBag => "Boka Upphämtning av Grönsakskasse",
			ProductType.Pizza => "Boka Upphämtning av Pizza",
			_ => "Boka Kurs"
		};

		isListModalOpen = true;
	}

	private void CloseListModal() => isListModalOpen = false;

	private void OpenBooking(ResponseProductDTO product)
	{
		isListModalOpen = false;
		selectedProduct = product;
	}

	private void CloseBookingModal() => selectedProduct = null;
}