html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.animation-fade-in {
    animation: fadeIn 0.3s ease-out forwards;
}

.animate-zoom-in {
    animation: zoomIn 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
}

.hero-section {
    height: 60vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 60%, rgba(255,255,255,1) 90%), url('images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    position: relative;
    z-index: 1;
    box-shadow: inset 0 -1px 0 white;
}

.homep-bg {
    background-color: #C1BCAC;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.overlap-container {
    transform: translateY(-15%);
    position: relative;
    z-index: 2;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.modal-transition {
    transition: transform 0.3s ease;
}

@font-face {
    font-family: "Work Sans";
    src: url('fonts/WorkSans-VariableFont_wght.ttf') format('truetype')
}

.title-text {
    color: #214E34;
    font-family: 'Work Sans';
}

.footer-text {
    color: #214E34;
    font-family: 'Work Sans';
}

.sub-title-text {
    color: #5C7457;
    font-family: 'Work Sans'
}

.card-text {
    color: #214E34;
    font-family: 'Work Sans';
}

.btn-veda-verk {
    background-color: #979B8D;
    color: #214E34;
    font-weight: bold;
    font-family: 'Work Sans';
    transition: transform 0.2s ease;
}
    
    .btn-veda-verk:hover {
        transform: scale(1.05);
    }

.btn-veda-inactive {
    background-color: #979B8D;
    border-color: #214E34;
    color: #979B8D;
    opacity: 0.4;
    font-family: 'Work Sans';
}

.btn-veda-available {
    background-color: #979B8D;
    border-color: #214E34;
    color: #214E34;
    transition: transform 0.2s ease;
    font-family: 'Work Sans' !important;
}

.btn-veda-active {
    background-color: #214E34;
    border-color: #979B8D;
    color: #979B8D;
    box-shadow: none !important;
    outline: none !important;
    font-family: 'Work Sans' !important;
}

.btn-veda-outline {
    border: 1px solid #979B8D;
    color: #979B8D;
    font-family: 'Work Sans' !important;
}

    .btn-veda-outline:hover {
        background-color: #979B8D;
        color: #979B8D;
        font-family: 'Work Sans' !important;
    }

.category-card {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease;
    border-radius: 0px;
    height: 275px;
    background-color: transparent;
}

    .category-card:hover {
        transform: scale(1.02);
    }

    .category-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .category-card .overlay {
        position: absolute;
        top: 230px;
        bottom: 0;
        left: 0;
        width: 100%;
        background: transparent;
        padding: 15px;
        text-align: center;
    }

.product-card {
    position: relative;
    cursor: auto;
    transition: transform 0.3s ease, z-index 0s;
    border-radius: 1px;
    background-color: #C1BCAC;
    height: 100%;
}

    .product-card:hover {
        transform: scale(1.02);
        z-index: 10;
    }
